* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: url(img/paisaje.webp);
}

.Navbar {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.Navbar ul {
    display: flex;
    gap: 20px;
}

.Navbar li {
    list-style: none;
}

.Navbar a {
    text-decoration: underline;
    color: rgb(0, 238, 255);
    font-size: 20px;
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}